<div class="flex-container">
  <div class="example-container" [formGroup]="registerForm">
    <mat-form-field appearance="fill" style="width: 300px;">
      <mat-label for="exampleInputEmail1">Email address</mat-label>
      <input
        matInput
        formControlName="username"
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" style="width: 300px;">
      <mat-label for="exampleInputPassword1">Password</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        class="form-control"
        id="exampleInputPassword1"
      />
    </mat-form-field>
    <br />
    <button
      mat-button
      color="primary"
      (click)="addUser()"
      [disabled]="registerForm.invalid"
      type="submit"
    >
      Register
    </button>
  </div>
</div>
