<div class="flex-container">
  <a (click)="showBookByGenre(0)">
    <mat-card>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >home</mat-icon
      >
      <br />
      All Books
    </mat-card>
  </a>
  <a (click)="showBookByGenre(1)">
    <mat-card>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >home</mat-icon
      >
      <br />
      Sci-fi
    </mat-card>
  </a>
  <a (click)="showBookByGenre(2)">
    <mat-card>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >home</mat-icon
      >
      <br />
      Thriller
    </mat-card>
  </a>

  <a (click)="showBookByGenre(3)">
    <mat-card>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >home</mat-icon
      >
      <br />
      Literature
    </mat-card>
  </a>

  <a (click)="showBookByGenre(4)">
    <mat-card>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >home</mat-icon
      >
      <br />
      Classic
    </mat-card>
  </a>

  <a (click)="showBookByGenre(5)">
    <mat-card>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >home</mat-icon
      >
      <br />
      Novel
    </mat-card>
  </a>
</div>
