.flex-container {
  margin-top: 20px;
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
  //align-content: space-around;
  //height: 600px;
}
.mat-card {
  width: 70px;
  height: 50px;
}
